@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: "Kaushan Script", cursive;
   font-weight: 400;
   font-style: normal;
}


header{
   top: 0;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: fixed;
   width: 100%;
   height: 10vh;
   background-color: rgb(220, 229, 229);
}


header nav ul, header  nav ul li a{
   list-style: none;
   display: flex;
   text-decoration: none;
   color: black;
}

header nav ul li{
   margin-left: 30px;
}

main{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 55px;
}

#services{
   margin-top: 60px;
   padding-top: 70px;
   padding-bottom: 20px;
   width: 70%;
   background-color: rgb(235, 235, 237);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 50px;
   flex-wrap: wrap;
}

#services .servicesCard{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 20px 30px;
}


#services .servicesCard .card{
   width: 250px;
   height: 300px;
   border: 1px solid black;
   border-radius: 3%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background-color: white;
   padding: 4px 20px;
   margin: 30px;
}

.titleCard{
   font-size: 21px;
   text-align: center;
   padding-bottom: 10px;
}



.card p{
   font-size: 14px;

}

.card .cost{
   font-size: 12px;
}


#about{
   display: flex;
   flex-direction: column;
   width: 70%;
   text-align: center;
   margin-bottom: 60px;
}

#about #aboutTitle{
   text-align: center;
   margin-top: 70px;
   padding: 20px;
   margin-bottom: 20px;
}

#about p{
   padding: 20px 20px;
}


#contact{
   text-align: center;
   display: flex;
   width: 80%;
   background-color: beige;
   height: 35vh;
   flex-direction: column;
}

#contact h2{
   padding: 20px 10px;
}

.number{
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 10px 20px;
}

.email{
   margin: 40px;
}