header{
   display: flex;
   justify-content: space-around;
   align-items: center;
}


header nav ul {
   list-style: none;
   display: flex;
}

header nav ul li{
   margin-left: 30px;
}

main{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 55px;
}

#servicios{
   margin-top: 30px;
   padding-top: 20px;
   padding-bottom: 20px;
   width: 60%;
   background-color: rgb(235, 235, 237);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
   flex-wrap: wrap;
}

#servicios .servicios{
   width: 250px;
   height: 300px;
   border: 1px solid black;
   border-radius: 3%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: white;
   padding: 4px 20px;
}

#servicios .servicios h3{
   font-size: 21px;
   text-align: center;
}